REGISTRY=<registry_for_docker>
MONGO_USER=<user_of_mongo>
MONGO_PASSWORD=<password_for_MONGO_USER>
AIRFLOW_UID=
FERNET_KEY=<fernet-key>

# Main project postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpass
POSTGRES_DB=my_db

# Airflow postgres, do not use
POSTGRES_USER_AIRFLOW=airflow
POSTGRES_PASSWORD_AIRFLOW=airflow
POSTGRES_DB_AIRFLOW=airflow

#AIRFLOW
PROJ_DATA_DIR=<directiory_to_data>
AIRFLOW_PROJ_DIR=<directiory_to_project_codes>
_PIP_ADDITIONAL_REQUIREMENTS=pymongo apache-airflow-providers-mongo apache-airflow-providers-postgres confluent-kafka[avro] pandas fastavro faker

# KAFKA
KAFKA_DIR=<path_to_kafka_dir>

# Clickhouse
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=pass